
<!-- feed is cached -->

<div id="home-welcome" style="padding-bottom: 14px;">
  <div class="wrapper">
    <p class="intro"><strong>WordPress</strong> is web software you can use to create a beautiful website or blog. We like to say that WordPress is both free and priceless at the&nbsp;same&nbsp;time.</p>

    <p>The core software is built by hundreds of community volunteers, and when you&#8217;re ready for more there are thousands of <a href="/extend/plugins/">plugins</a> and <a href="/extend/themes/">themes</a> available to transform your site into almost <a href="/showcase/">anything you can imagine</a>. Over 60 million people have chosen WordPress to power the place on the web they call &#8220;home&#8221; &#8212; we&#8217;d love you to join the family.</p>

  </div>
</div>
<div id="pagebody">
  <div class="wrapper">
    <div id="sidebar" class="col-2">
      <%  Category.root.each do |root| -%>
      <h4 style=" border-bottom: 0px solid #DEDEDE;"><%= root.name %></h4>
      <ul class="submenu" style=" border-top: 1px solid #DEDEDE;">
        <% root.children.each do |children| %>
        <li><a href="/about/requirements/"><%= children.name %></a></li>
        <% end %>
      </ul>
      <% end %>
    </div>

    <div class="col-7">
      <p class="intro">WordPress started in 2003 with a single bit of code to enhance the typography of everyday writing and with fewer users than you can count on your fingers and toes. Since then it has grown to be the largest self-hosted blogging tool in the world, used on millions of sites and seen by tens of millions of people every day.</p>

      <p>Everything you see here, from the documentation to the code itself, was created <strong>by and for the community</strong>. WordPress is an <a href="http://www.opensource.org/">Open Source</a> project, which means there are hundreds of people all over the world working on it. (More than most commercial platforms.) It also means you are free to use it for anything from your <a href="http://icanhascheezburger.com/">cat’s home page</a> to a <a href="http://wordpress.org/showcase/tag/fortune-500/">Fortune 500 web site</a> without paying anyone a license fee <a href="http://www.gnu.org/philosophy/free-sw.html">and a number of other important freedoms</a>.</p>

      <h3>About WordPress.org</h3>

      <p>On this site you can download and install a software script called WordPress. To do this you need a <a href="/hosting/">web host</a> who meets the <a href="/about/requirements/">minimum requirements</a> and a little time. WordPress is <a href="/extend/">completely customizable</a> and can be used for almost anything. There is also a <strong>service</strong> called <a href="http://wordpress.com/?ref=wporg-about">WordPress.com</a> which lets you get started with a new and free WordPress-based blog in seconds, but varies in several ways and is less flexible than the WordPress you download and install yourself.</p>

      <h3>What You Can Use WordPress For</h3>

      <p>WordPress started as just a blogging system, but has evolved to be used as full content management system and so much more through the <a href="/extend/">thousands of plugins, widgets, and themes</a>, WordPress is limited only by your imagination. (And tech chops.)</p>

      <h3>Connect with the Community</h3>

      <p>In addition to online resources like <a href="/support/">the forums</a> and <a href="http://codex.wordpress.org/Mailing_Lists">mailing lists</a> a great way to get involved with WordPress is to <a href="http://wordcamp.org/">attend or volunteer at a WordCamp</a>, which are free or low-cost events that happen all around the world to gather and educate WordPress users, organized by WordPress users. <a href="http://wordcamp.org/">Check out the website</a>, there might be a WordCamp near you.</p>

      <h3>A Little History</h3>

      <p>WordPress was born out of a desire for an elegant, well-architectured personal publishing system built on <abbr title="PHP: Hypertext Preprocessor"><a href="http://php.net">PHP</a></abbr> and <a href="http://mysql.com">MySQL</a> and licensed under the <abbr title="GNU Public License"><a href="http://www.gnu.org/copyleft/gpl.html">GPLv2</a></abbr> (or later). It is the official successor of b2/cafelog. WordPress is fresh software, but its roots and development go back to 2001. It is a mature and stable product. We hope by focusing on user experience and <a href="http://webstandards.org/">web standards</a> we can create a tool different from anything else out there.</p>

      <p>For a bit more about WordPress' history <a href="http://en.wikipedia.org/wiki/WordPress">check out the WordPress Wikipedia page</a> or <a href="http://codex.wordpress.org/History">this page on our own Codex</a>.</p>

    </div>

    <div class="col-3">
      <div>
        <h3>Lead Developers</h3>
        <ul>
          <li><a href="http://boren.nu/">Ryan Boren</a><br>
			Bug Whisperer</li>
          <li><a href="http://markjaquith.com/">Mark Jaquith</a><br>
			Director of Whitespace</li>
          <li><a href="http://ma.tt/">Matt Mullenweg</a><br>
			Head of Bug Creation</li>
          <li><a href="http://www.laptoptips.ca/">Andrew Ozz</a><br>
            Tiny Manly Code Editor (MCE)</li>
          <li><a href="http://blog.ftwr.co.uk/">Peter Westwood</a><br>
			Title Rebuilding</li>
        </ul>
      </div>

      <div>
        <h3>Design</h3>
        <ul>
          <li><a href="http://www.field2.com/">Ben Dunkle</a></li>
          <li><a href="http://iammattthomas.com/">Matt Thomas</a></li>
          <li><a href="http://jane.wordpress.com/">Jane Wells</a></li>
        </ul>
      </div>

      <div>
        <h3>Contributing Developers</h3>
        <ul>
          <li><a href="http://blogwaffe.com/">Michael Adams</a></li>
          <li><a href="http://nikolay.bg/">Nikolay Bachiyski</a></li>
          <li><a href="http://joncave.co.uk/">Jon Cave</a></li>
          <li><a href="http://dd32.id.au/">Dion Hulse</a></li>
          <li><a href="http://darylkoop.com/">Daryl Koopersmith</a></li>
          <li><a href="http://andrewnacin.com/">Andrew Nacin</a></li>
          <li><a href="http://josephscott.org/">Joseph Scott</a></li>
          <li><a href="http://andyskelton.com/">Andy Skelton</a></li>
          <li><a href="http://ottodestruct.com/">Samuel Wood</a></li>
        </ul>
      </div>

      <div>
        <h3>Documentation and Support</h3>
        <ul>
          <li>Mark Riley</li>
          <li><a href="http://www.cameraontheroad.com/">Lorelle</a></li>
        </ul>
      </div>

      <div>
        <h3>Developer Emeriti</h3>
        <ul>
          <li><a href="http://robinadr.com/">Robin Adrianse</a></li>
          <li><a href="http://dougal.gunters.org/">Dougal Campbell</a></li>
          <li><a href="http://ocaoimh.ie/">Donncha O Caoimh</a></li>
          <li>Robert Deaton</li>
          <li><a href="http://xmouse.ithium.net/">David House</a> </li>
          <li><a href="http://www.alexking.org/blog/">Alex King</a></li>
          <li><a href="http://zed1.com/journalized/">Mike Little<br>
            </a>(co-founding dev)</li>
          <li><a href="http://intraordinary.com/">Michel Valdrighi<br>
            </a>(original b2 author)</li>
          <li><a href="http://www.asymptomatic.net/">Owen Winkler</a></li>
        </ul>
      </div>

      <div>
        <h3>Also…</h3>
        <ul>
          <li><a href="http://binarybonsai.com/">Michael Heilemann</a></li>
          <li><a href="http://mpt.net.nz/">Matthew Paul Thomas</a></li>
          <li>Ulf Harnhammar</li>
          <li><a href="http://meidell.dk/">Brian Meidell</a></li>
          <li><a href="http://movabletype.org/">Movable Type</a>, <a href="http://drupal.org/">Drupal</a>, and <a href="http://textpattern.com/">TextPattern</a> for ideas and inspiration</li>
        </ul>
      </div>
    </div>
  </div>
</div>