
<!-- feed is cached -->

<div id="home-welcome" style="padding-bottom: 14px;">
  <div class="wrapper">
    <p class="intro"><strong>WordPress</strong> is web software you can use to create a beautiful website or blog. We like to say that WordPress is both free and priceless at the&nbsp;same&nbsp;time.</p>

    <p>The core software is built by hundreds of community volunteers, and when you&#8217;re ready for more there are thousands of <a href="/extend/plugins/">plugins</a> and <a href="/extend/themes/">themes</a> available to transform your site into almost <a href="/showcase/">anything you can imagine</a>. Over 60 million people have chosen WordPress to power the place on the web they call &#8220;home&#8221; &#8212; we&#8217;d love you to join the family.</p>

  </div>
</div>
<div id="pagebody">
  <div class="wrapper">
    <div id="sidebar" class="col-2">
      <%  Category.root.each do |root| -%>
      <h4 style=" border-bottom: 0px solid #DEDEDE;"><%= root.name %></h4>
      <ul class="submenu" style=" border-top: 1px solid #DEDEDE;">
        <% root.children.each do |children| %>
        <li><a href="/about/requirements/"><%= children.name %></a></li>
        <% end %>
      </ul>
      <% end %>
    </div>

    <div class="col-10">
      <h3>Connect with the Community</h3>

      <p>In addition to online resources like <a href="/support/">the forums</a> and <a href="http://codex.wordpress.org/Mailing_Lists">mailing lists</a> a great way to get involved with WordPress is to <a href="http://wordcamp.org/">attend or volunteer at a WordCamp</a>, which are free or low-cost events that happen all around the world to gather and educate WordPress users, organized by WordPress users. <a href="http://wordcamp.org/">Check out the website</a>, there might be a WordCamp near you.</p>

 
    </div>

  </div>
</div>