
<!-- feed is cached -->

<div id="home-welcome" style="padding-bottom: 14px; min-height: inherit;">
  <div class="wrapper">
    <p class="intro"><strong>Anthony's Blog</strong> 主要记录个的技术经验，与生活感想</p>
  </div>
</div>
<div id="pagebody">
  <div class="wrapper">
    <%= render :partial => "/shared/left_banner" %>
<div class="col-10" id="bodyContent">
            <h2 class="pagetitle">Linode</h2>
                  <!-- start content -->
        <p>
 
</p>
 <br/>
 Linode 是一款神话级的VPS，特别是日本机房的出现，但高昂的价格也让人望而怯步。现在问题是我们只是想要一个稳定高质量的空间、体验强大的linode后台、专业的客户服务，但并不需要linode提供的那么多资源。。。

  <br/>
  </div>
</div>

 