
<!-- feed is cached -->

<div id="home-welcome" style="padding-bottom: 14px; min-height: inherit;">
  <div class="wrapper">
    <p class="intro"><strong>Anthony's Blog</strong>&nbsp;Linode 代购 返现 合租 联系方式</p>
  </div>
</div>
<div id="pagebody">
  <div class="wrapper">
    <%= render :partial => "/shared/left_banner" %>
<div class="col-10" id="bodyContent">
            <h2 class="pagetitle">联系方式</h2>
                  <!-- start content -->
        <p>手机：15288319095 <br/><br/>
          QQ： 601259096 <br/><br/>
          Email:  601259096@qq.com <br/><br/>
          淘宝链接:<a target='_blank' href='http://item.taobao.com/item.htm?spm=a1z10.1.31.2&id=18628532371'>
&nbsp;&nbsp;http://item.taobao.com/item.htm?spm=a1z10.1.31.2&id=18628532371
        </a> <br/><br/>
 
          Linode 返现链接:<a target='_blank'  href='http://www.linode.com/?r=f0763d5be722c2e92526704098a9138fd22d6537'> &nbsp;&nbsp; http://www.linode.com</a> <br/><br/>
</p>
 <br/>
 
  <br/>
  </div>
</div>

 