  <div id="sidebar" class="col-2">
          <h4 style=" border-bottom: 0px solid #DEDEDE;font-size: 18px;">博客分类</h4>

      <ul class="submenu" style=" border-top: 1px solid #DEDEDE;">
      <%  Category.all.each do |category| -%>

          <li style=''><a href="/blogs?category_id=<%= category.id %>"><%= category.name %></a></li>
   
      <% end %>
         </ul>
    </div>